/* COMMON */
body {
	color: black;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-family: "Nanum Gothic", sans-serif;
	margin: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

/* HEADER */
header {
	background-color: #eaeaea;
}

header .inner {
	width: 95%;
	height: 50px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

header .logo {
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

header .title {
	color: black;
	font-size: 25px;
	font-weight: 700;
	position: absolute;
	margin-top: 8px;
	margin-left: 50px;
}

header .header_menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

header .header_menu ul.menu {
	display: flex;
	list-style: none;
}

header .header_menu ul.menu li {
	position: relative;
}

header .header_menu ul.menu li::before {
	content: "";
	width: 1px;
	height: 15px;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

header .header_menu ul.menu li:first-child:before {
	display: none;
}

header .header_menu ul.menu li a {
	font-size: 15px;
	padding: 0 16px;
	display: block;
	color: black;
}

header .header_menu .menu li a:hover {
	color: skyblue;
}

/* SECTION */
section .box {
	position: absolute;
	height: 450px;
	margin: 20px;
}

section .box .table {
	width: 100%;
	height: 100%;
	border: 2px solid rgb(0, 0, 0, 0.5);
	border-radius: 10px;
}

/* 공통 */
.left,
.right {
	position: relative;
}

.side_title {
	position: absolute;
	top: 5px;
	left: 30px;
	font-size: 25px;
	font-weight: 700;
}

/* TABLE LEFT */
section .box .table .left {
	width: 50%;
	padding-left: 4%;
}

.inner_box {
	position: relative;
	height: 9%;
	width: 95%;
	border: 2px solid rgb(0, 0, 0, 0.1);
	border-radius: 15px;
	margin-bottom: 10px;
}

input:-ms-input-placeholder {
	color: #a8a8a8;
}

input::-webkit-input-placeholder {
	color: #a8a8a8;
}

input::-moz-placeholder {
	color: #a8a8a8;
}

.search {
	height: 100%;
	width: 100%;
	border-radius: 13px;
	background-color: #ffffff;
}

.searchBtn:hover {
	background-color: #a8a8a8;
	border: 2px solid #a8a8a8;
}

input {
	font-size: 15px;
	width: 78%;
	height: 50%;
	padding: 10px;
	border: 0px;
	border-radius: 15px 0 0 15px;
	outline: none;
}

button {
	width: 15.3%;
	height: 100%;
	border: 0px;
	border-radius: 0 12px 12px 0;
	color: black;
	font-weight: bold;
	outline: none;
	float: right;
}

.left .inner_box {
	width: 90%;
	height: 9%;
	border: 2px solid rgb(0, 0, 0, 0.1);
	border-radius: 15px;
	margin-bottom: 10px;
}

.left .inner_box table {
	width: 100%;
	margin: 4px 0;
}

.inner_box table tr td {
	font-size: 15px;
	width: 25%;
	font-weight: bold;
}

.result {
	height: 60%;
	width: 91%;
	border: 2px solid rgb(0, 0, 0, 0.1);
	border-radius: 15px;
	margin-bottom: 10px;
	overflow-y: scroll;
}

#result_contents {
	width: 100%;
	font-size: 14px;
	table-layout: fixed;
}

#result_contents tr td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	padding: 10px;
	font-size: 13px;
	table-layout: fixed;
}

.addBtn {
	margin-right: 17%;
	width: 70px;
	background-color: #a5e7f1;
	border: 2px solid #a5e7f1;
	border-radius: 30px;
}

.addBtn:hover {
	background-color: #cff2f7;
	border: 2px solid #cff2f7;
}

/* TABLE RIGHT */
section .box .table .right {
	width: 50%;
	padding-left: 4%;
}

.right .mailbox_list {
	position: relative;
	width: 90%;
	height: 65%;
	border: 2px solid rgb(0, 0, 0, 0.1);
	border-radius: 15px;
	margin-bottom: 20px;
}

.timeblock {
	border-collapse: collapse;
	word-break: break-all;
	text-align: center;
	margin-top: 45px;
	border-radius: 15px;
	cursor: pointer;
}

.timeblock tr,
.timeblock td {
	border: 1px solid rgb(0, 0, 0, 0.1);
	width: 10%;
	padding: 7px;
}

.timeblock th {
	width: 10%;
}
