<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Every Mail</title>

    <!-- 오픈그래프(카톡 등으로 공유할 때 나오는 화면) 설정 -->
    <meta property="op:type" content="website" />
    <meta property="og:site_name" content="EveryMail" />
    <meta property="og:title" content="Internet Programming Team Project" />
    <meta
      property="og:description"
      content="교수님에게 이메일을 보내는 새로운 방법, 에브리메일"
    />
    <meta property="og:image" content="./images/og_mjLogo.jpg" />
    <meta property="og:url" content="http://..." />
    <!-- 아직 url 모름 -->

    <link rel="icon" href="../static/images/title_mjLogo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="../static/css/login.css" />
    <script src="../static/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="../static/js/cookie.js"></script>
  </head>

  <body>
    <!-- 헤더 부분 -->
    <header>
      <div class="inner">
        <a href="/" class="logo"
          ><img
            src="../static/images/title_mjLogo.png"
            alt="MyongJi"
            width="40px"
        /></a>
        <a href="/" class="title">EveryMail</a>
      </div>
    </header>

    <!-- 박스 부분 -->
    <section>
      <div class="box">
        <table class="table">
          <tr>
            <!-- 박스의 왼쪽 부분 -->
            <td class="left">
              <p class="left_title">EveryMail</p>
              <p class="left_content">교수님께 드릴 말씀이 있으십니까?</p>
              <p class="left_content">
                교수님의 이메일을 찾는 일이 번거로우십니까?
              </p>
              <p class="left_content">에브리메일을 사용하십시오.</p>
              <p class="left_content">
                에브리메일은 교수님과 통하는 가장 쉽고 빠른 길입니다.
              </p>
            </td>

            <!-- 박스의 가운데 경계선 -->
            <td align="center">
              <img
                src="../static/images/line.png"
                alt=""
                style="height: 350px"
              />
            </td>

            <!-- 박스의 오른쪽 부분 -->
            <td class="right">
              <p class="side_title">로그인</p>

              <form method="GET">
                <fieldset class="login">
                  <label>아이디</label>
                  <input type="text" id="user_id" size="10" /><br />
                  <label>비밀번호</label>
                  <input type="password" id="user_pw" size="10" /><br />
                  <input
                    type="button"
                    id="login_sub"
                    value="로그인"
                    onclick="login()"
                  />
                  <input type="submit" id="signup_sub" value="회원가입" />
                </fieldset>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
