<!-- 메일 상세보기 화면 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Every Mail</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/mailPage.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="../static/js/mailPage.js"></script>
  </head>

  <body>
    <div class="box">
      <!-- 받는 사람 -->
      <div class="wr_receiver">
        <p style="font-size: 13px; margin-left: 15px; font-weight: bold">
          받는 사람
        </p>
        <p id="receiver" style="font-size: 13px; margin-left: 15px"></p>
      </div>

      <!-- 제목 입력-->
      <div class="wr_title">
        <p style="font-size: 13px; margin-left: 15px; font-weight: bold">
          제목
        </p>
        <p id="title" style="font-size: 13px; margin-left: 15px"></p>
      </div>

      <!-- 내용 입력-->
      <div class="wr_content">
        <p style="font-size: 13px; margin-left: 15px; font-weight: bold">
          내용
        </p>
        <p id="content" style="font-size: 13px; margin-left: 15px"></p>
      </div>
    </div>
  </body>
</html>
